@tailwind base;
@tailwind components;
@tailwind utilities;


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
}

table td,
table th {
  text-align: left;
}

table td,
table th {
  padding: 8px;
}

table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
}

.math {
  max-width: 100%;
}

.math-inline {
  display: inline-block;
}

.katex-display {
  overflow: auto hidden;
}

.katex-display > .katex {
  white-space: normal;
}
/* Add space between broken lines: */
.katex-display > .base {
  margin: 0.25em 0;
}
/* Compensate by reducing space around display math */
.katex-display {
  margin: 0.5em 0;
}

/* Custom CSS */

/* Badges */

.badge{
  padding: 0.5rem 0.8rem;
  background: red;
  width: fit-content;
  height: fit-content;
  border-radius: 2rem;
  font-size: 0.6rem;
  border: 1px solid #000 !important;
  box-shadow: 1px 1px 0px black;
  font-weight: 600;
}

.badge.badge-primary{
  background: #DF77F3;
}

.badge.badge-secondary{
  background: #0000003a;
  color: #000;
  border: none !important;
  box-shadow: none;
}

.badge.badge-lg{
  font-size: 0.8em;
  font-weight: normal;
}

.badge.badge-sm{
  scale: 0.8;
}

/* Badges */


/* Form Elements */

.chakra-select__wrapper,.chakra-text__wrapper{
  border-radius: 0.5rem;
  position: relative;
  border: none;
  outline: none !important;
}

.chakra-select__wrapper::before, .chakra-text__wrapper::before{
  content: "";
  position: absolute;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  top: 4px;
  left: 4px;
  z-index: 2;
  transition: 0.3s ease;
}

.chakra-select__wrapper select, .chakra-text__wrapper input, .chakra-text__wrapper textarea{
  border-radius: 0.5rem;
  z-index: 3 !important;
  background: #fff;
  border: 1px solid #000 !important;
  box-shadow: none !important;
  font-size: 1rem;
  cursor: pointer;
}

.chakra-select__wrapper:hover::before, .chakra-text__wrapper:hover::before{
  background: #DF77F3;
}

.chakra-select__icon-wrapper{
  z-index: 3;
}

.chakra-radio-group .chakra-radio .chakra-radio__label{
  font-size: 1rem;
}

.select__control{
  border: 1px solid #000 !important;
  box-shadow: none !important;
  position: relative;
  background: #fff !important;
  z-index: 2;
  cursor: pointer !important;
}

.basic-multi-select::before{
  content: "";
  position: absolute;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  top: 4px;
  left: 4px;
  z-index: 1;
  transition: 0.3s ease;
  border-radius: 0.3rem;
}

.basic-multi-select:hover::before{
  background: #DF77F3;
}

.select__menu{
  z-index: 5 !important;
  font-size: 0.9rem;
}

.select__placeholder{
  opacity: 0.7;
}

/* Form Elements */

/* Zindexing */

nav{
  z-index: 5 !important;
}

/* Zindexing */